In [20]:
import pandas as pd
from datetime import datetime

path = './td_toolkits_v3/opticals/tests/test_files/optical_measures/New-155324.csv'

df = pd.read_csv(path, encoding_errors='ignore')

In [8]:
print(df.iloc[0, 0])

'2021/03/24'

In [21]:
x = []

for i in range(len(df.head())):
    x.append(datetime.strptime(f'{df.iloc[i,0]} {df.iloc[i,1]}', '%Y/%m/%d %H:%M:%S'))

In [22]:
x

[datetime.datetime(2021, 3, 24, 13, 2, 4),
 datetime.datetime(2021, 3, 24, 13, 2, 5),
 datetime.datetime(2021, 3, 24, 13, 2, 6),
 datetime.datetime(2021, 3, 24, 13, 2, 7),
 datetime.datetime(2021, 3, 24, 13, 2, 8)]

In [23]:
df.columns

Index(['Data', 'M_Time', 'ID', 'Point', 'Station', 'Operator', 'Voltage',
       'I.Time', 'AR_T%()', 'AR_T%(//)', 'LCM_X%', 'LCM_Y%', 'LCM_Z%', 'RX',
       'RY', 'RZ', 'GX', 'GY', 'GZ', 'BX', 'BY', 'BZ', 'WX', 'WY', 'WZ', 'CG%',
       'R_x', 'R_y', 'G_x', 'G_y', 'B_x', 'B_y', 'W_x', 'W_y', 'RX_max',
       'GY_max', 'BZ_max', 'V_RX_max', 'V_GY_max', 'V_BZ_max', 'WX'', 'WY'',
       'WZ'', 'W_x'', 'W_x'.1', 'LCM_X%max', 'LCM_Y%max', 'LCM_Z%max',
       'p_(Ymax)', 'p_(Ymax).1', 'p_(Zmax)', 'p_tol_X', 'p_tol_Y', 'p_tol_Z',
       'T0/Tmax_X', 'T0/Tmax_Y', 'T0/Tmax_Z', 'Vcri_X', 'Vcri_Y', 'Vcri_Z',
       'dp_X', 'dp_Y', 'dp_Z', 'Unnamed: 63'],
      dtype='object')

In [24]:
df.iloc[:5, :5]

         Data    M_Time            ID  Point Station
0  2021/03/24  13:02:04  T19BU001NB0D      1  AOI-03
1  2021/03/24  13:02:05  T19BU001NB0D      1  AOI-03
2  2021/03/24  13:02:06  T19BU001NB0D      1  AOI-03
3  2021/03/24  13:02:07  T19BU001NB0D      1  AOI-03
4  2021/03/24  13:02:08  T19BU001NB0D      1  AOI-03

In [4]:
import os
_, _, files = next(os.walk('/home/dimsplendid/Documents/td_toolkits_v3/td_toolkits_v3/opticals/tests/test_files/axo'))

chip_names = []
for file in files:
    chips = file.split('.')[0]
    chip_names += [chip.strip() for chip in chips.split('+')]
    
chip_names.sort()

In [6]:
import collections
print([item for item, count in collections.Counter(chip_names).items() if count > 1])

['1-32']