In [5]:
import pandas as pd
from datetime import datetime
import pytz

path = './td_toolkits_v3/opticals/tests/test_files/optical_measures/New-155324.csv'

df = pd.read_csv(path, encoding_errors='ignore')

In [2]:
print(df.iloc[0, 0])

2021/03/24

In [3]:
x = []

for i in range(len(df.head())):
    x.append(datetime.strptime(f'{df.iloc[i,0]} {df.iloc[i,1]}', '%Y/%m/%d %H:%M:%S'))

In [14]:
x[0], x[0].replace(tzinfo=pytz.timezone('Asia/Taipei'))

(datetime.datetime(2021, 3, 24, 13, 2, 4),
 datetime.datetime(2021, 3, 24, 13, 2, 4, tzinfo=<DstTzInfo 'Asia/Taipei' LMT+8:06:00 STD>))

In [10]:
pytz.country_names['tw']

'Taiwan'

In [8]:
df.columns

Index(['Data', 'M_Time', 'ID', 'Point', 'Station', 'Operator', 'Voltage',
       'I.Time', 'AR_T%()', 'AR_T%(//)', 'LCM_X%', 'LCM_Y%', 'LCM_Z%', 'RX',
       'RY', 'RZ', 'GX', 'GY', 'GZ', 'BX', 'BY', 'BZ', 'WX', 'WY', 'WZ', 'CG%',
       'R_x', 'R_y', 'G_x', 'G_y', 'B_x', 'B_y', 'W_x', 'W_y', 'RX_max',
       'GY_max', 'BZ_max', 'V_RX_max', 'V_GY_max', 'V_BZ_max', 'WX'', 'WY'',
       'WZ'', 'W_x'', 'W_x'.1', 'LCM_X%max', 'LCM_Y%max', 'LCM_Z%max',
       'p_(Ymax)', 'p_(Ymax).1', 'p_(Zmax)', 'p_tol_X', 'p_tol_Y', 'p_tol_Z',
       'T0/Tmax_X', 'T0/Tmax_Y', 'T0/Tmax_Z', 'Vcri_X', 'Vcri_Y', 'Vcri_Z',
       'dp_X', 'dp_Y', 'dp_Z', 'Unnamed: 63'],
      dtype='object')

In [9]:
df.iloc[:5, 5:10]

   Operator  Voltage  I.Time   AR_T%()  AR_T%(//)
0  11067785      0.0       8  0.000439   0.534386
1  11067785      0.4       8  0.000315   0.534386
2  11067785      0.8       8  0.000526   0.534386
3  11067785      1.2       8  0.000579   0.534386
4  11067785      1.6       8  0.000726   0.534386

In [11]:
df['I.Time'].unique()

array([8])

In [4]:
import os
_, _, files = next(os.walk('/home/dimsplendid/Documents/td_toolkits_v3/td_toolkits_v3/opticals/tests/test_files/axo'))

chip_names = []
for file in files:
    chips = file.split('.')[0]
    chip_names += [chip.strip() for chip in chips.split('+')]
    
chip_names.sort()

In [6]:
import collections
print([item for item, count in collections.Counter(chip_names).items() if count > 1])

['1-32']