In [1]:
import pandas as pd
from datetime import datetime

path = './td_toolkits_v3/opticals/tests/test_files/optical_measures/New-155324.csv'

opt_df = pd.read_csv(path, encoding_errors='ignore')

In [2]:
opt_df['datetime'] = [datetime.strptime(
    f'{opt_df.iloc[i, 0]} {opt_df.iloc[i, 1]} +0800', 
    r'%Y/%m/%d %H:%M:%S %z'
) for i in range(len(opt_df))]

In [6]:
%timeit opt_df['Voltage'].map(lambda element: element / 2)
%timeit opt_df['Voltage'].apply(lambda arr: arr / 2)
%timeit _ = opt_df['Voltage'] / 2

1.33 ms ± 86.7 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)
1.46 ms ± 13 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)
70.3 µs ± 2 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [14]:
x[0], x[0].replace(tzinfo=pytz.timezone('Asia/Taipei'))

(datetime.datetime(2021, 3, 24, 13, 2, 4),
 datetime.datetime(2021, 3, 24, 13, 2, 4, tzinfo=<DstTzInfo 'Asia/Taipei' LMT+8:06:00 STD>))

In [21]:
opt_df.sort_values('datetime').drop_duplicates(subset=[opt_df.columns[2], opt_df.columns[3], opt_df.columns[6]], keep='last')

,Data,M_Time,ID,Point,Station,Operator,Voltage,I.Time,AR_T%(),AR_T%(//),...,T0/Tmax_Y,T0/Tmax_Z,Vcri_X,Vcri_Y,Vcri_Z,dp_X,dp_Y,dp_Z,Unnamed: 63,datetime
0,2021/03/24,13:02:04,T19BU001NB0D,1,AOI-03,11067785,0.0,8,0.000439,0.534386,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2021-03-24 13:02:04+08:00
1,2021/03/24,13:02:05,T19BU001NB0D,1,AOI-03,11067785,0.4,8,0.000315,0.534386,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2021-03-24 13:02:05+08:00
2,2021/03/24,13:02:06,T19BU001NB0D,1,AOI-03,11067785,0.8,8,0.000526,0.534386,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2021-03-24 13:02:06+08:00
3,2021/03/24,13:02:07,T19BU001NB0D,1,AOI-03,11067785,1.2,8,0.000579,0.534386,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2021-03-24 13:02:07+08:00
4,2021/03/24,13:02:08,T19BU001NB0D,1,AOI-03,11067785,1.6,8,0.000726,0.534386,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2021-03-24 13:02:08+08:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8107,2021/03/24,15:53:16,T19BR001NL2K,6,AOI-03,11067785,18.8,8,0.415124,0.537149,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2021-03-24 15:53:16+08:00
8108,2021/03/24,15:53:17,T19BR001NL2K,6,AOI-03,11067785,19.2,8,0.415237,0.537149,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2021-03-24 15:53:17+08:00
8109,2021/03/24,15:53:18,T19BR001NL2K,6,AOI-03,11067785,19.6,8,0.414852,0.537149,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2021-03-24 15:53:18+08:00
8110,2021/03/24,15:53:19,T19BR001NL2K,6,AOI-03,11067785,20.0,8,0.415231,0.537149,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2021-03-24 15:53:19+08:00
8111,2021/03/24,15:53:23,T19BR001NL2K,6,AOI-03,11067785,1.0,8,0.537149,0.537149,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2021-03-24 15:53:23+08:00

In [8]:
df.columns

Index(['Data', 'M_Time', 'ID', 'Point', 'Station', 'Operator', 'Voltage',
       'I.Time', 'AR_T%()', 'AR_T%(//)', 'LCM_X%', 'LCM_Y%', 'LCM_Z%', 'RX',
       'RY', 'RZ', 'GX', 'GY', 'GZ', 'BX', 'BY', 'BZ', 'WX', 'WY', 'WZ', 'CG%',
       'R_x', 'R_y', 'G_x', 'G_y', 'B_x', 'B_y', 'W_x', 'W_y', 'RX_max',
       'GY_max', 'BZ_max', 'V_RX_max', 'V_GY_max', 'V_BZ_max', 'WX'', 'WY'',
       'WZ'', 'W_x'', 'W_x'.1', 'LCM_X%max', 'LCM_Y%max', 'LCM_Z%max',
       'p_(Ymax)', 'p_(Ymax).1', 'p_(Zmax)', 'p_tol_X', 'p_tol_Y', 'p_tol_Z',
       'T0/Tmax_X', 'T0/Tmax_Y', 'T0/Tmax_Z', 'Vcri_X', 'Vcri_Y', 'Vcri_Z',
       'dp_X', 'dp_Y', 'dp_Z', 'Unnamed: 63'],
      dtype='object')

In [9]:
df.iloc[:5, 5:10]

   Operator  Voltage  I.Time   AR_T%()  AR_T%(//)
0  11067785      0.0       8  0.000439   0.534386
1  11067785      0.4       8  0.000315   0.534386
2  11067785      0.8       8  0.000526   0.534386
3  11067785      1.2       8  0.000579   0.534386
4  11067785      1.6       8  0.000726   0.534386

In [11]:
df['I.Time'].unique()

array([8])

In [4]:
import os
_, _, files = next(os.walk('/home/dimsplendid/Documents/td_toolkits_v3/td_toolkits_v3/opticals/tests/test_files/axo'))

chip_names = []
for file in files:
    chips = file.split('.')[0]
    chip_names += [chip.strip() for chip in chips.split('+')]
    
chip_names.sort()

In [6]:
import collections
print([item for item, count in collections.Counter(chip_names).items() if count > 1])

['1-32']

In [26]:
# physics pi calculator LOL
#
# #
# #  m <- M
# #########

def collision(m1, v1, m2, v2):
    v1_f = (v1*(m1-m2) + 2*m2*v2) / (m1+m2)
    v2_f = (v2*(m2-m1) + 2*m1*v1) / (m1+m2)
    return v1_f, v2_f

class box:
    def __init__(self, mass, velocity):
        self.m = mass
        self.v = velocity
    
    def collision(self, another_box):
        self.v, another_box.v = collision(self.m, self.v, another_box.m, another_box.v)

In [32]:
def collision_times(n):
    m1 = 1
    m2 = m1 * 100**n

    vi = -10

    box1 = box(m1, 0)
    box2 = box(m2, vi)

    collision_count = 0
    while (box1.v > box2.v):
        box2.collision(box1)
        collision_count += 1
        if box1.v < 0:
            box1.v = -box1.v
            collision_count += 1
    return collision_count

In [35]:
for n in range(10):
    %time print(f'n: {n}, collisions times: {collision_times(n)}')

n: 0, collisions times: 3
CPU times: user 325 µs, sys: 0 ns, total: 325 µs
Wall time: 278 µs
n: 1, collisions times: 31
CPU times: user 98 µs, sys: 0 ns, total: 98 µs
Wall time: 93.2 µs
n: 2, collisions times: 314
CPU times: user 424 µs, sys: 0 ns, total: 424 µs
Wall time: 415 µs
n: 3, collisions times: 3141
CPU times: user 3.54 ms, sys: 0 ns, total: 3.54 ms
Wall time: 3.48 ms
n: 4, collisions times: 31415
CPU times: user 19 ms, sys: 0 ns, total: 19 ms
Wall time: 18.5 ms
n: 5, collisions times: 314159
CPU times: user 151 ms, sys: 0 ns, total: 151 ms
Wall time: 150 ms
n: 6, collisions times: 3141592
CPU times: user 1.5 s, sys: 0 ns, total: 1.5 s
Wall time: 1.5 s
n: 7, collisions times: 31415926
CPU times: user 15.3 s, sys: 0 ns, total: 15.3 s
Wall time: 15.3 s
n: 8, collisions times: 314159265
CPU times: user 2min 41s, sys: 16 ms, total: 2min 41s
Wall time: 2min 41s
n: 9, collisions times: 3141592653
CPU times: user 28min 19s, sys: 380 ms, total: 28min 19s
Wall time: 28min 19s

In [2]:
%time Chip.objects.last().name

CPU times: user 2.08 ms, sys: 0 ns, total: 2.08 ms
Wall time: 1.78 ms

'T19BR001NN2S'

In [9]:
import pandas as pd

path1 = './td_toolkits_v3/opticals/tests/test_files/rt/total_table_0324.txt'
path2 = './td_toolkits_v3/opticals/tests/test_files/rt/total_table (1).txt'

rt_df = pd.concat([
    pd.read_table(path1, encoding_errors='ignore'),
    pd.read_table(path2, encoding_errors='ignore')
])
rt_df

,q,ɶ,ID,I,I.1,qH,cell pos.,Target Vpk,Initial Vpk,OD_Rise,...,(RisePeak-top)/top,(FallPeak-base)/base,delta_peak,delta_v,delta_m,c_a,peak,top,HLH_(Peak-Top),HLH_area
0,2021/03/24,10:34:16,T19BU001NB0M,2,ART-R03,11067785,1,3.5,0.2,3.5,...,-0.41482,36.2676,0.00579488,0.00336896,8.5512e-007,0.010428,0.583248,1.89513,22044.8,0.0294289
1,2021/03/24,10:34:16,T19BU001NB0S,2,ART-R03,11067785,2,3.5,0.2,3.5,...,-0.424708,52.8913,0.00583902,0.00353463,3.50976e-007,0.00756035,0.573831,1.80964,-1706.34,0.0039346
2,2021/03/24,10:34:17,T19BU001NB0C,1,ART-R03,11067785,10,3.5,0.2,3.5,...,-0.454594,83.907,0.00598466,0.00393962,5.98424e-007,0.0073306,0.544289,2.10614,60494.3,0.0325534
3,2021/03/24,10:34:17,T19BU001NB06,1,ART-R03,11067785,9,3.5,0.2,3.5,...,-0.490492,103.755,0.00613238,0.00473463,6.32613e-007,0.00726623,0.508302,2.64998,-137134,0.0406187
4,2021/03/24,10:34:35,T19BU001NB0M,2,ART-R03,11067785,1,4,0.2,4,...,-0.323069,47.253,0.00525496,0.00229889,5.44717e-007,0.00297862,0.675672,2.24651,583.159,0.004639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2299,2021/03/30,16:00:57,T19BR001NL2V,5,ART-R03,19018764,7,7.0,0.2,7.0,...,-0.001652,6.89806,0.003356,0.000041,0.00002,0.006156,0.998344,3.4488,50.9833,0.005
2300,2021/03/30,16:00:57,T19BR001NN23,6,ART-R03,19018764,31,7.0,0.2,7.0,...,-0.0032,12.8204,0.003268,0.000028,0.000019,0.001487,0.996792,3.00101,39.7006,0.006936
2301,2021/03/30,16:00:57,NAN,6,ART-R03,19018764,32,7.0,0.2,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2302,2021/03/30,16:00:57,T19BR001NN2P,5,ART-R03,19018764,24,7.0,0.2,7.0,...,-0.005297,26.4607,0.003621,0.000039,0.000019,0.001002,0.994694,0.561756,44.9667,0.001973
2303,2021/03/30,16:00:57,T19BR001NN2D,5,ART-R03,19018764,23,7.0,0.2,7.0,...,-0.008625,23.4168,0.004021,0.000005,0.00002,0.004519,0.991354,0.522192,-21.587,0.001008

In [13]:
unwanted_mask = rt_df.iloc[:,7].astype('str').str.match('[ a-zA-Z]+')
# rt_df.iloc[:, 7][~unwanted_mask].unique()
unwanted_mask.unique()

array([False,  True])

In [5]:
str(rt_df.iloc[0,5])

'11067785'

In [22]:
rt_df[(rt_df.iloc[:,2]=='T19BR001NN2G') & (rt_df.iloc[:,3]=='4') & (rt_df.iloc[:,7]=='6.5')].iloc[0]

q                                2021/03/24
ɶ                                  16:26:39
ID                             T19BR001NN2G
I                                         4
I.1                                 ART-R03
qH                                 11067785
cell pos.                                15
Target Vpk                              6.5
Initial Vpk                             0.2
OD_Rise                                 6.5
OD_fall                                 0.2
Normalized_V                              0
Specific_target                           0
Photo Sensor                              0
ūSensor                 Dev3 : USB-TC01_ch0
ū                                    22.807
~O                                 TB2224CL
Rise-mean (10-90)                   7.07651
Rise-stdev (10-90)               0.00157389
Fall-mean (10-90)                   10.1664
Fall-stdev (10-90)               0.00802089
Rise-mean (5-95)                     9.8946
Rise-stdev (5-95)                 0.0123889
Fall-mean (5-95)                    13.4408
Fall-stdev (5-95)                0.00206168
Vcom                                      0
Flicker                        6.05571e-005
Base lv-mean                     0.00493603
Top lv-mean                         2.99634
WXT (%)                                   -
BXT (%)                                   -
WXT_*                                     -
BXT_*                                     -
Overshooting or not                       V
Overshooting %                      1.96889
Gɶ                                  0.23565
overshooting_peak                   3.05568
overshooting_top                    2.99668
(RisePeak-top)/top               -0.0768591
(FallPeak-base)/base                 125.79
delta_peak                       0.00331015
delta_v                         0.000255841
delta_m                        2.70926e-005
c_a                                       0
peak                               0.923015
top                                 2.99668
HLH_(Peak-Top)                      44759.1
HLH_area                           0.046688
Name: 3402, dtype: object

In [17]:
rt_df.iloc[:,3]==4

0       False
1       False
2       False
3       False
4       False
        ...
2299    False
2300    False
2301    False
2302    False
2303    False
Name: I, Length: 6915, dtype: bool

In [ ]:
'test' \
+ '2'