In [1]:
import pandas as pd
from datetime import datetime
import pytz

path = './td_toolkits_v3/opticals/tests/test_files/optical_measures/New-155324.csv'

opt_df = pd.read_csv(path, encoding_errors='ignore')

In [2]:
opt_df['datetime'] = [datetime.strptime(
    f'{opt_df.iloc[i, 0]} {opt_df.iloc[i, 1]} +0800', 
    r'%Y/%m/%d %H:%M:%S %z'
) for i in range(len(opt_df))]

In [6]:
%timeit opt_df['Voltage'].map(lambda element: element / 2)
%timeit opt_df['Voltage'].apply(lambda arr: arr / 2)
%timeit _ = opt_df['Voltage'] / 2

1.33 ms ± 86.7 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)
1.46 ms ± 13 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)
70.3 µs ± 2 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [14]:
x[0], x[0].replace(tzinfo=pytz.timezone('Asia/Taipei'))

(datetime.datetime(2021, 3, 24, 13, 2, 4),
 datetime.datetime(2021, 3, 24, 13, 2, 4, tzinfo=<DstTzInfo 'Asia/Taipei' LMT+8:06:00 STD>))

In [21]:
opt_df.sort_values('datetime').drop_duplicates(subset=[opt_df.columns[2], opt_df.columns[3], opt_df.columns[6]], keep='last')

,Data,M_Time,ID,Point,Station,Operator,Voltage,I.Time,AR_T%(),AR_T%(//),...,T0/Tmax_Y,T0/Tmax_Z,Vcri_X,Vcri_Y,Vcri_Z,dp_X,dp_Y,dp_Z,Unnamed: 63,datetime
0,2021/03/24,13:02:04,T19BU001NB0D,1,AOI-03,11067785,0.0,8,0.000439,0.534386,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2021-03-24 13:02:04+08:00
1,2021/03/24,13:02:05,T19BU001NB0D,1,AOI-03,11067785,0.4,8,0.000315,0.534386,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2021-03-24 13:02:05+08:00
2,2021/03/24,13:02:06,T19BU001NB0D,1,AOI-03,11067785,0.8,8,0.000526,0.534386,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2021-03-24 13:02:06+08:00
3,2021/03/24,13:02:07,T19BU001NB0D,1,AOI-03,11067785,1.2,8,0.000579,0.534386,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2021-03-24 13:02:07+08:00
4,2021/03/24,13:02:08,T19BU001NB0D,1,AOI-03,11067785,1.6,8,0.000726,0.534386,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2021-03-24 13:02:08+08:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8107,2021/03/24,15:53:16,T19BR001NL2K,6,AOI-03,11067785,18.8,8,0.415124,0.537149,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2021-03-24 15:53:16+08:00
8108,2021/03/24,15:53:17,T19BR001NL2K,6,AOI-03,11067785,19.2,8,0.415237,0.537149,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2021-03-24 15:53:17+08:00
8109,2021/03/24,15:53:18,T19BR001NL2K,6,AOI-03,11067785,19.6,8,0.414852,0.537149,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2021-03-24 15:53:18+08:00
8110,2021/03/24,15:53:19,T19BR001NL2K,6,AOI-03,11067785,20.0,8,0.415231,0.537149,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2021-03-24 15:53:19+08:00
8111,2021/03/24,15:53:23,T19BR001NL2K,6,AOI-03,11067785,1.0,8,0.537149,0.537149,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2021-03-24 15:53:23+08:00

In [8]:
df.columns

Index(['Data', 'M_Time', 'ID', 'Point', 'Station', 'Operator', 'Voltage',
       'I.Time', 'AR_T%()', 'AR_T%(//)', 'LCM_X%', 'LCM_Y%', 'LCM_Z%', 'RX',
       'RY', 'RZ', 'GX', 'GY', 'GZ', 'BX', 'BY', 'BZ', 'WX', 'WY', 'WZ', 'CG%',
       'R_x', 'R_y', 'G_x', 'G_y', 'B_x', 'B_y', 'W_x', 'W_y', 'RX_max',
       'GY_max', 'BZ_max', 'V_RX_max', 'V_GY_max', 'V_BZ_max', 'WX'', 'WY'',
       'WZ'', 'W_x'', 'W_x'.1', 'LCM_X%max', 'LCM_Y%max', 'LCM_Z%max',
       'p_(Ymax)', 'p_(Ymax).1', 'p_(Zmax)', 'p_tol_X', 'p_tol_Y', 'p_tol_Z',
       'T0/Tmax_X', 'T0/Tmax_Y', 'T0/Tmax_Z', 'Vcri_X', 'Vcri_Y', 'Vcri_Z',
       'dp_X', 'dp_Y', 'dp_Z', 'Unnamed: 63'],
      dtype='object')

In [9]:
df.iloc[:5, 5:10]

   Operator  Voltage  I.Time   AR_T%()  AR_T%(//)
0  11067785      0.0       8  0.000439   0.534386
1  11067785      0.4       8  0.000315   0.534386
2  11067785      0.8       8  0.000526   0.534386
3  11067785      1.2       8  0.000579   0.534386
4  11067785      1.6       8  0.000726   0.534386

In [11]:
df['I.Time'].unique()

array([8])

In [4]:
import os
_, _, files = next(os.walk('/home/dimsplendid/Documents/td_toolkits_v3/td_toolkits_v3/opticals/tests/test_files/axo'))

chip_names = []
for file in files:
    chips = file.split('.')[0]
    chip_names += [chip.strip() for chip in chips.split('+')]
    
chip_names.sort()

In [6]:
import collections
print([item for item, count in collections.Counter(chip_names).items() if count > 1])

['1-32']

In [26]:
# physics pi calculator LOL
#
# #
# #  m <- M
# #########

def collision(m1, v1, m2, v2):
    v1_f = (v1*(m1-m2) + 2*m2*v2) / (m1+m2)
    v2_f = (v2*(m2-m1) + 2*m1*v1) / (m1+m2)
    return v1_f, v2_f

class box:
    def __init__(self, mass, velocity):
        self.m = mass
        self.v = velocity
    
    def collision(self, another_box):
        self.v, another_box.v = collision(self.m, self.v, another_box.m, another_box.v)

In [32]:
def collision_times(n):
    m1 = 1
    m2 = m1 * 100**n

    vi = -10

    box1 = box(m1, 0)
    box2 = box(m2, vi)

    collision_count = 0
    while (box1.v > box2.v):
        box2.collision(box1)
        collision_count += 1
        if box1.v < 0:
            box1.v = -box1.v
            collision_count += 1
    return collision_count

In [35]:
for n in range(10):
    %time print(f'n: {n}, collisions times: {collision_times(n)}')

n: 0, collisions times: 3
CPU times: user 325 µs, sys: 0 ns, total: 325 µs
Wall time: 278 µs
n: 1, collisions times: 31
CPU times: user 98 µs, sys: 0 ns, total: 98 µs
Wall time: 93.2 µs
n: 2, collisions times: 314
CPU times: user 424 µs, sys: 0 ns, total: 424 µs
Wall time: 415 µs
n: 3, collisions times: 3141
CPU times: user 3.54 ms, sys: 0 ns, total: 3.54 ms
Wall time: 3.48 ms
n: 4, collisions times: 31415
CPU times: user 19 ms, sys: 0 ns, total: 19 ms
Wall time: 18.5 ms
n: 5, collisions times: 314159
CPU times: user 151 ms, sys: 0 ns, total: 151 ms
Wall time: 150 ms
n: 6, collisions times: 3141592
CPU times: user 1.5 s, sys: 0 ns, total: 1.5 s
Wall time: 1.5 s
n: 7, collisions times: 31415926
CPU times: user 15.3 s, sys: 0 ns, total: 15.3 s
Wall time: 15.3 s
n: 8, collisions times: 314159265
CPU times: user 2min 41s, sys: 16 ms, total: 2min 41s
Wall time: 2min 41s
n: 9, collisions times: 3141592653
CPU times: user 28min 19s, sys: 380 ms, total: 28min 19s
Wall time: 28min 19s

In [2]:
%time Chip.objects.last().name

CPU times: user 2.08 ms, sys: 0 ns, total: 2.08 ms
Wall time: 1.78 ms

'T19BR001NN2S'